.fondo-wrapper {
  width: 100%;
  min-height: 100vh;

  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
}

.fondo-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.fondo-content {
  position: relative;
  z-index: 10;
  text-align: center;
  color: white;
  padding: 20px;
}
